<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Lift Canopies</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body ng-app="myApp">
<div class="container" ng-controller="mycontroller">
  <!--The head bar/logo of the page-->
  <center><img src = "images/headBar.jpg" width="100%"; height="5%";></img></center>

  <ul class="menu">
    <li id='1' ng-class='{"active":tog==1}' ng-click='tog=1' ><a ng-href="#!/about">ABOUT US</a></li>
    <li id='2' ng-class='{"active":tog==2}' ng-click='tog=2' ><a ng-href="#!/products">PRODUCTS</a></li>
    <li id='3' ng-class='{"active":tog==3}' ng-click='tog=3' ><a ng-href="#!/order">ORDER</a></li>
  </ul>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view></div>

  <!--bottom contact bar-->
  <ul class="bottomBar">
    <li>(952) 201-6100</li>
    <li><a href="mailto:liftcanopies@gmail.com?Subject=Website%20Contact" target="_top">liftcanopies@gmail.com</a></li>
    <li>Welcome! You're visitor #
      <!-- Start of StatCounter Code for Default Guide -->
      <!-- <script type="text/javascript">
        var sc_project=10423815;
        var sc_invisible=0;
        var sc_security="e43bbb72";
        var sc_text=2;
        var scJsHost = (("https:" == document.location.protocol) ?
        "https://secure." : "http://www.");
        document.write("<sc"+"ript type='text/javascript' src='" +
        scJsHost+
        "statcounter.com/counter/counter.js'></"+"script>");
      </script>
      <noscript>
        <div class="statcounter"><a
          title="shopify stats"
          href="http://statcounter.com/shopify/" target="_blank"><img
          class="statcounter"
          src="http://c.statcounter.com/10423815/0/e43bbb72/0/"
          alt="shopify stats"></a>
        </div>
      </noscript> -->
      <!-- End of StatCounter Code for Default Guide -->
    </li>
  </div><!--bottomBar-->
</div><!--container div-->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="about/about.js"></script>
  <script src="products/products.js"></script>
  <script src="order/order.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
</div>
</body>
</html>
