<h2>PRODUCTS</h2>
<p>
  We have two boat house covers available: a 20'x40' cover and a 30'x40' cover.
  <i>Please call for pricing.</i>
</p>
<p>
  Our boat lift canopies have a 7-year limited warranty. There are two
  American-made fabric options for each product; Shelter-Rite® or Harbor-Time™.
  Each fabric offers several colors to choose from to best fit your style and boat color.
</p>

<hr>
<!-- Shelter-Rite Material -->
<div class="colors">
  <img src = "images/shelterRiteDOTS.jpg" width="90%"></img>
</div>
<div class="fabric">
  <h4>Shelter-Rite®</h4>
  <p>
    Shelter-Rite® fabric is an 18 oz. polyester material, coated with PVC.
    It will not rot, shrink, or stretch and offers unparalleled adhesion to reduce wind whip.
    Twelve color options:
  </p>
</div>

<div class="clear"></div>
<hr>

<!-- Harbor-Time Material -->
<div class="fabric">
  <h4>Harbor-Time™</h4>
  <p>
    Harbor-Time™ is a premium woven polyester and has a "pigment stable" acrylic
    coating on both sides of the material. Six available color options:
  </p>
</div>
<div class="colors">
  <img src = "images/harborTimeDOTS.jpg" width="90%"></img>
</div>
<div class="clear"></div>
<hr>

<p>**Additional tax and shipping may apply**</p>
<br>

<!-- BEGIN SEARCH BOX -->
<form>
  <p class="searchBox">Know what you're looking for? Find it quickly!
    <input type="text" placeholder="Search a Product" ng-model="searchProducts">
  </p>
</form>
<br>
<!-- BEGIN TABLE -->
<table style="width:90%">
  <thead>
  <tr>
    <td style="width:14%">
      <a href="" ng-click="sortType = 'productNumber'; sortReverse = !sortReverse">
        Product ID
        <span ng-show="sortType == 'productNumber' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'productNumber' && sortReverse" class="fa fa-caret-up"></span>
      </a>
    </td>
    <td style="width:25%">
      <a href="" ng-click="sortType = 'brandName'; sortReverse = !sortReverse">
      Brand Name
        <span ng-show="sortType == 'brandName' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'brandName' && sortReverse" class="fa fa-caret-up"></span>
      </a>
    </td>
    <td style="width:16%">
      <a href="" ng-click="sortType = 'width'; sortReverse = !sortReverse">
      Canopy Size
        <span ng-show="sortType == 'width' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'width' && sortReverse" class="fa fa-caret-up"></span>
      </a>
    </td>
    <td style="width:16%">
      <a href="" ng-click="sortType = 'shelterRite'; sortReverse = !sortReverse">
      Shelter-Rite®
        <span ng-show="sortType == 'shelterRite' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'shelterRite' && sortReverse" class="fa fa-caret-up"></span>
      </a>
    </td>
    <td style="width:16%">
      <a href="" ng-click="sortType = 'harborTime'; sortReverse = !sortReverse">
      Harbor-Time™
        <span ng-show="sortType == 'harborTime' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'harborTime' && sortReverse" class="fa fa-caret-up"></span>
      </a>
    </td>
  </tr>
</thead>
  <tbody>
    <tr ng-repeat="object in data | orderBy:sortType:sortReverse | filter:searchProducts"
    ng-init="object.isred = false"
    ng-class-odd="'odd'" ng-class-even="'even'"
    ng-class="{red : object == selectedObject}"
    ng-click="selectItem(object)">

    <!-- For selecting multiple: -->
    <!-- <tr ng-repeat="object in data | orderBy:sortType:sortReverse | filter:searchProducts"
    ng-init="object.isred = false"
    ng-class-odd="'odd'" ng-class-even="'even'"
    ng-class="{red : object.isred }"
    ng-click="object.isyellow =!object.isred"> -->
      <td>{{object.productNumber}}</td>
      <td>{{object.brandName}}</td>
      <td>{{object.lengthFt}}'{{object.lengthIn}}" x {{object.width}}"</td>
      <td>{{object.shelterRite | currency: '$'}}</td>
      <td>{{object.harborTime | currency: '$'}}</td>
    </tr>
  </tbody>
</table>


<!-- Example of a component use!
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p> -->
