<h2>PRODUCTS</h2>
<p>
  We sell boat lift canopies. All canopies have a 7-year limited warranty.
  There are two American-made fabric options for each product; Shelter-Rite® or Harbor-Time™,
  and each fabric offers several colors to choose from to best fit your style and boat color.
</p>

<hr>
<!-- Shelter-Rite Material -->
<div class="image">
  <img src = "images/shelterRiteDOTS.jpg" width="90%";></img>
</div>
<div class="fabric">
  <h4>Shelter-Rite®</h4>
  <p>
    Shelter-Rite® fabric is an 18 oz. polyester material, coated with PVC.
    It will not rot, shrink, or stretch and offers unparalleled adhesion to reduce wind whip.
    Twelve color options:
  </p>
</div>

<div class="clear"></div>
<hr>

<!-- Harbor-Time Material -->
<div class="fabric">
  <h4>Harbor-Time™</h4>
  <p>
    Harbor-Time™ is a premium woven polyester and has a "pigment stable" acrylic
    coating on both sides of the material. Six available color options:
  </p>
</div>
<div class="image">
  <img src = "images/harborTimeDOTS.jpg" width="90%";></img>
</div>
<div class="clear"></div>
<hr>
<p>We also have two boat house covers available: a 20'x40' cover and a 30'x40' cover. Please call for pricing.</p>
<p>**Additional tax and shipping may apply**</p>


<!-- BEGIN SEARCH -->
<form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search da Fish" ng-model="searchFish">
      </div>
    </div>
  </form>
<!-- BEGIN TABLE -->
<table>
  <thead>
  <tr>
    <td>
      <a href="" ng-click="sortType = 'productNumber'; sortReverse = !sortReverse">
        Product Number
        <span ng-show="sortType == 'productNumber' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'productNumber' && sortReverse" class="fa fa-caret-up"></span>
      </a>
    </td>
    <td>
      <a href="" ng-click="sortType = 'brandName'; sortReverse = !sortReverse">
      Brand Name
        <span ng-show="sortType == 'brandName' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'brandName' && sortReverse" class="fa fa-caret-up"></span>
      </a>
    </td>
    <td>
      <a href="" ng-click="sortType = 'width'; sortReverse = !sortReverse">
      Width
        <span ng-show="sortType == 'width' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'width' && sortReverse" class="fa fa-caret-up"></span>
      </a>
    </td>
    <td>
      <a href="" ng-click="sortType = 'lengthFt'; sortReverse = !sortReverse">
        Length
        <span ng-show="sortType == 'lengthFt' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'lengthFt' && sortReverse" class="fa fa-caret-up"></span>
      </a>
    </td>
    <td>
      <a href="" ng-click="sortType = 'shelterRite'; sortReverse = !sortReverse">
      shelterRite Price
        <span ng-show="sortType == 'shelterRite' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'shelterRite' && sortReverse" class="fa fa-caret-up"></span>
      </a>
    </td>
    <td>
      <a href="" ng-click="sortType = 'harborTime'; sortReverse = !sortReverse">
      harborTime Price
        <span ng-show="sortType == 'harborTime' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'harborTime' && sortReverse" class="fa fa-caret-up"></span>
      </a>
    </td>
  </tr>
</thead>
  <tbody>
    <tr ng-repeat="object in data | orderBy:sortType:sortReverse | filter:searchFish">
      <td>{{object.productNumber}}</td>
      <td>{{object.brandName}}</td>
      <td>{{object.width}}"</td>
      <td>{{object.lengthFt}}'{{object.lengthIn}}"</td>
      <td>${{object.shelterRite}}</td>
      <td>${{object.harborTime}}</td>
    </tr>
  </tbody>
</table>


<!-- Example of a component use!
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p> -->
